<?php

# Specify the URL for your deployment of the Certificnate Manager service. This should include
# http:// or https:// at the beginning and any custom port if required, but not end in a /
define('CERT_MANAGER_URL', 'http://127.0.0.1');


# Specify the ID and secret of an admin token to use for testing.
define('ADMIN_AUTH_ID', '');
define('ADMIN_AUTH_SECRET', "");

